<!DOCTYPE html>
<html>
<head>
	<title>Atmoscape - Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="static/login.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<h1>Enter Credentials</h1>
		<br>
		<form action="" method="post">
			<div class="row">
				<label class="control-label col-sm-4">Email:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="email" name="email" value="{{request.form.email}}">
				</div>
			</div>
			<div class="row">
				<label class="control-label col-sm-4">Password:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" placeholder="password" name="password" value="{{request.form.password}}">
				</div>
			</div>
			<br/>
			<input class="btn btn-primary pull-right" type="submit" value="login">
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
	</div>
</body>
</html>